@font-face {
    font-family: "myfont";
    src: url("../fonts/font.woff") format("woff");
}

  /* The main whoami header */


  .header {
      text-overflow: hidden;
  }
.header header h1 {

    font-family: myfont;
    color : rgb(234, 233, 229);
    font-size : 70.4px;
    letter-spacing: -2px;
    line-height: 20px;
    text-transform: lowercase;
    transition: all 0.5s;
    display: block;
    text-size-adjust: 100%;
    margin-top : 16%;
    margin-left : 15%;

}

.header header h3 {
  font-family: myfont;
  color: rgb(234, 233, 229);
  font-size: 20.4px;
  letter-spacing: normal;
  line-height: 20px;
  text-transform: lowercase;
  transition: all 0.5s;
  margin-left : 15%;
  word-spacing: 5px;
}

.header header h1::selection {
      background-color : inherit;
      color : #adadad;
}

.header header h1:hover {
      opacity: 0.6;
      /* text-decoration: underline; */
}

.header:hover .header header h1 {
    opacity: 0.6;
}





