@font-face {
    font-family: "myfont";
    src: url("../fonts/font.woff") format("woff");
}


input {
    font-family : myfont;
    /* width : 60%; */
    width : 30%;
    margin-top : 30px;
    margin-left : 15%;
    border : 2px solid #969693;
    border-radius : 15px;
    padding : 9px;
    outline : none;
    color : #969693;
    transition: all 0.5s;
    text-transform: lowercase;
    transition-timing-function: ease-in-out;
}

.close {
    cursor : pointer;
    display: none;
    font-size : 25px;
    color : rgb(0, 0, 0);
    padding-left: 10px;
}

.close::selection {
    color : inherit;
    background-color: inherit;
}

input:focus {
    width: 60%;
    outline :  none;
    border : 2px solid rgb(141, 141, 58);
}


input:hover {
    opacity: 0.6;
}

input:focus + .close{
    color : rgb(141, 141, 58);
    display: inline;
}




@media screen and (max-width : 600px) {
    input {
        width : 50%;
        margin-left: 18%;
    }
}